body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    margin-bottom: 0;
    z-index: 3000;
}

.filter-form {
    background-color: #34495E;
    color: #E4E6E5;
    padding: 50px 30px 30px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
    height: 100%;
    overflow-y: auto;
}

.toggle-filter-form {
    background-color: #34495E;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
    z-index: 3000;
}

.toggle-filter-form:hover {
    background-color: #1ABC9C;
}

.toggle-filter-form a {
    font-size: 16px;
    color: #E4E6E5;
    text-decoration: none;
}

#price-max-slider, #kindergarten-slider {
    width: 300px;
    margin-top: 5px;
}

.price-max-container, #kindergarten-container {
    margin-top: 5px;
}

#price-max, #kindergarten-to {
    font-weight: bold;
}

.empty-label {
    margin-bottom: 0;
}

.apartment-grid {
    padding: 50px 0;
    background-color: #1ABC9C;
}

.panel-title {
    font-size: 20px;
}

.map {
    padding-left: 0;
    padding-right: 0;
}

.footer {
    background-color: #2F2F2F;
    color: #E4E6E5;
    padding: 30px 0 20px;
}

.dl-horizontal dd {
    word-wrap: break-word;
}

#apartment-detail {
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 10000;
    background-color: #F2F2F2;
    color: #333333;
    box-shadow: 0 0 3px 1px #999;
    width: 500px;
    padding: 20px;
    display: none;
}